[Desktop Entry]
Name=ska KWin Extensions
Comment=Whatever I need to extend KWin.
Icon=preferences-system-windows

X-KDE-PluginInfo-Author=Stefan Kamphausen
X-KDE-PluginInfo-Email=ska2342-at-gmail_dot_com
X-KDE-PluginInfo-Name=ska-kwin-ext
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL

Type=Service
X-KDE-ServiceTypes=KWin/Script
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js